<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <img style="margin-top: 15px;max-width: 100px;" src="assets/img/logo.png" alt="YACHAY" />
  </div>
</header>
<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container">
    <div class="text-center error-box">
      <h1 class="error-text tada animated" style="color: #333"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> Error</h1>
      <h2 class="font-xl"><strong>Oooops, Hubo un problema !</strong></h2>
      <br>
      <p class="lead semi-bold">
        <strong>Hubo problemas con la autenticación.</strong><br><br>
        <small>{{error}}</small>
      </p>
      <ul class="error-search text-left font-md">
        <li><a style="padding-left: 20px;" routerLink="/oauth/login"><small>Intentarlo de nuevo </small></a></li>
        <li><a style="padding-left: 20px;" (click)="doLogoutFull()"><small>Cerrar sesión de YAUTH</small></a></li>
      </ul>
    </div>
  </div>
</div>